/* Общие стили */
.category-container {
    display: flex;
    padding: 20px;
}

.filter-sidebar {
    width: 20%;
    padding: 10px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    height: calc(100vh - 40px);
    overflow-y: auto;
}

.products-container {
    width: 80%;
    padding: 10px;
    height: calc(100vh - 40px);
    overflow-y: auto;
}

.price-filter {
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center;
}

.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-tags {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.filter-tag {
    background-color: #e1e1e1;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.remove-tag {
    margin-left: 5px;
    cursor: pointer;
}

