body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    display: flex;
}

.sidebar {
    width: 200px;
    margin-right: 20px;
}

.content {
    flex-grow: 1;
}

.list-group-item.active {
    background-color: #0d6efd;
    color: white;
}

.profile-section, #change-password-section {
    max-width: 500px;
}

.orders-section {
    width: 100%;
}

.order-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 5px;
}

.order-details {
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-top: 5px;
}

.order-details ul {
    list-style: none;
    padding: 0;
}

.order-details img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

